.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
  padding: 80px;
  border-radius: 10%;
  opacity: 0.9;
  border-radius: 50px;
  box-shadow:  20px 20px 60px black,
             -20px -20px 60px black;
}

.input{
  background-color: none;
  border-bottom: 1px solid white;
  text-align: center;
}

::placeholder{
  color: white;
}

.button {
  min-width: 130px;
  min-height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid white;
  background: #E13423;
  font-size: 2rem;
}
.button:hover {
  background: #fff;
  color: #E13423
}


